#include <physical_layouts.dtsi>


&uart0 {
    status = "okay";
    compatible = "nordic,nrf-uarte";
    current-speed = <115200>;
     pinctrl-0 = <&uart0_default>;
};

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "new50";
        kscan = <&kscan0>;
        transform = <&matrix_transform0>;
        
keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100   30    0       0     0     0>
            , <&key_physical_attrs 100 100  130    0       0     0     0>
            , <&key_physical_attrs 100 100  245    0       0     0     0>
            , <&key_physical_attrs 100 100  345    0       0     0     0>
            , <&key_physical_attrs 100 100  445    0       0     0     0>
            , <&key_physical_attrs 100 100  545    0       0     0     0>
            , <&key_physical_attrs 100 100  645    0       0     0     0>
            , <&key_physical_attrs 100 100  945    0       0     0     0>
            , <&key_physical_attrs 100 100 1045    0       0     0     0>
            , <&key_physical_attrs 100 100 1145    0       0     0     0>
            , <&key_physical_attrs 100 100 1245    0       0     0     0>
            , <&key_physical_attrs 100 100 1345    0       0     0     0>
            , <&key_physical_attrs 100 100 1460    0       0     0     0>
            , <&key_physical_attrs 100 100 1560    0       0     0     0>
            , <&key_physical_attrs 100 100   15  100       0     0     0>
            , <&key_physical_attrs 100 100  115  100       0     0     0>
            , <&key_physical_attrs 100 100  245  100       0     0     0>
            , <&key_physical_attrs 100 100  345  100       0     0     0>
            , <&key_physical_attrs 100 100  445  100       0     0     0>
            , <&key_physical_attrs 100 100  545  100       0     0     0>
            , <&key_physical_attrs 100 100  645  100       0     0     0>
            , <&key_physical_attrs 100 100  945  100       0     0     0>
            , <&key_physical_attrs 100 100 1045  100       0     0     0>
            , <&key_physical_attrs 100 100 1145  100       0     0     0>
            , <&key_physical_attrs 100 100 1245  100       0     0     0>
            , <&key_physical_attrs 100 100 1345  100       0     0     0>
            , <&key_physical_attrs 100 100 1475  100       0     0     0>
            , <&key_physical_attrs 100 100 1570  100       0     0     0>
            , <&key_physical_attrs 100 100    0  200       0     0     0>
            , <&key_physical_attrs 100 100  100  200       0     0     0>
            , <&key_physical_attrs 100 100  245  200       0     0     0>
            , <&key_physical_attrs 100 100  345  200       0     0     0>
            , <&key_physical_attrs 100 100  445  200       0     0     0>
            , <&key_physical_attrs 100 100  545  200       0     0     0>
            , <&key_physical_attrs 100 100  645  200       0     0     0>
            , <&key_physical_attrs 100 100  945  200       0     0     0>
            , <&key_physical_attrs 100 100 1045  200       0     0     0>
            , <&key_physical_attrs 100 100 1145  200       0     0     0>
            , <&key_physical_attrs 100 100 1245  200       0     0     0>
            , <&key_physical_attrs 100 100 1345  200       0     0     0>
            , <&key_physical_attrs 100 100 1490  200       0     0     0>
            , <&key_physical_attrs 100 100 1585  200       0     0     0>
            , <&key_physical_attrs 125 100   40  300       0     0     0>
            , <&key_physical_attrs 100 100  345  300       0     0     0>
            , <&key_physical_attrs 100 100  445  300       0     0     0>
            , <&key_physical_attrs 200 100  545  300       0     0     0>
            , <&key_physical_attrs 200 100  945  300       0     0     0>
            , <&key_physical_attrs 100 100 1145  300       0     0     0>
            , <&key_physical_attrs 100 100 1245  300       0     0     0>
            , <&key_physical_attrs 125 100 1530  300       0     0     0>
            ;
    };
};
